<form #custRegistration= "ngForm" (ngSubmit)="onClickSubmit(custRegistration.value)" >
   <div class="form-group row">
      <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>
      <div class="col-md-6">
         <input type="text" id="first_name" class="form-control" name="first_name" >
      </div>
   </div>
   <div class="form-group row">
      <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
      <div class="col-md-6">
         <input type="text" id="last_name" class="form-control" name="last_name" >
      </div>
   </div>
   <div class="form-group row">
      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
      <div class="col-md-6">
         <input type="text" id="email_address" class="form-control" name="email-address" >
      </div>
   </div>
   <div class="form-group row">
      <label for="locality_name" class="col-md-4 col-form-label text-md-right">Area Name</label>
      <div class="col-md-6">
         <select id="area_code" class="form-control">
            <option value="1">Tambaram</option>
            <option value="2">Chromepet</option>
            <option value="3">Pallavaram</option>
            <option value="4">Medavakkam</option>
         </select>
      </div>
   </div>
   <div class="form-group row">
      <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
      <div class="col-md-6">
         <input type="text" id="phone_number" class="form-control" >
      </div>
   </div>
   <div class="form-group row">
      <label for="present_address" class="col-md-4 col-form-label text-md-right">Present Address</label>
      <div class="col-md-6">
         <input type="text" id="present_address" class="form-control" >
      </div>
   </div>
   <div class="col-md-6 offset-md-4 text-center">
      <button type="submit" class="btn btn-dark " >
      Register
      </button>
   </div>
</form>